
p, li {
	  font-family: Verdana, Arial;

       text-align: justify; 
       color:#002233;
        margin-top: 0px;
        width: 600px;
}

h1 {color:#33ff00}
h2 {color:#ff3300}
h3 {color:#333300}
h4 {color:#333300}
pre { color:#333333; font:large}